ArrglarBugRutas.ipynb
Dash1.py
Visualizacion Comparativa.py

Predictions/PredDemanda.ipynb
Predictions/Prediccion_demanda-Copy2.ipynb
Predictions/Prediccion_demanda_por_estacion.ipynb
Predictions/Prueba_Prophet.ipynb
Predictions/RandomForestRegressorPredicitons.jpeg
Predictions/Untitled.ipynb
Predictions/itinerarios6.csv
Predictions/warnings.log
